:root {
  --primary: #111827;
  --blue: #007FEF;
  --white: #FFFFFF;
  --black: #000000;
  --background: #FFFFFF;
  --fontColor: #000000;
  --dividerColor: #000000;
  --footerColor: #000000;
  --buttonBorderColor: #000000;
  --spacing: 8px;
  --sectionWidth: 1024px;
  --sectionWidthMobile: 300px;
  --mobileBreakpoint: 1024px;
  --smallMobileBreakpoint: 768px;
}

html[data-theme="dark"] {
  --primary: #111827;
  --blue: #007FEF;
  --white: #FFFFFF;
  --black: #000000;
  --background: #000000;
  --fontColor: #FFFFFF;
  --dividerColor: #FFFFFF;
  --footerColor: #111111;
  --buttonBorderColor: #FFFFFF;
}
