:host {
  background-color: #02040F;
  display: block;
  min-height: 100vh;
  padding: 16px 8px 16px 16px;
}

h3 {
  color: white;
}

::ng-deep svg g path {
    fill: white;
}


.masonry-item {
  width: calc(33.3% - 8px);
  height: 20rem;

  background-size: cover;
  background-position: center;
  margin-bottom: 8px;
  margin-right: 8px;
}

img {
  width: 100%;
}

$mobileBreakpoint: 728px;
$smallMobileBreakpoint: 728px;

.modal {
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  z-index: 1;
  padding-top: 64px;
  padding-bottom: 64px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  display: flex;
  flex-direction: column;
  align-items: center;

  .modal-content {
    display: block;
    max-width: calc(100vw - 128px);
    max-height: calc(100vh - 128px);
    width: auto;
    height: auto;
    //margin: auto;

    @media only screen and (max-width: $mobileBreakpoint) {
      width: 100%;
      max-width: 100%;
      position: relative;
    }
  }

  .modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
  }

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;

    &:hover, &:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .arrows {
    color: #f1f1f1;
    font-size: 80px;
    font-weight: bold;

    &:hover, &:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }

  }

  .arrows--web {
    @media only screen and (max-width: $mobileBreakpoint) {
      display: none;
    }
  }

  .arrows-mobile {
    position: absolute;
    top: 50%;
    width: calc(100% - 36px);
    justify-content: space-between;
    display: flex;

    .arrows {
      font-size: 48px;
    }


    @media only screen and (max-width: $smallMobileBreakpoint) {
      top: 40%;
    }


    @media only screen and (min-width: $mobileBreakpoint) {
      display: none;
    }
  }


}
