:host {
  background-color: var(--footerColor);
  color: #fff;
  display: flex;
  justify-content: center;
}
:host section {
  width: 1024px;
  padding: 80px 0 80px 0;
}
:host section .middle {
  padding: 24px 0 24px 0;
}
:host section h4 {
  display: none;
}
@media only screen and (max-width: 1024px) {
  :host section {
    width: 300px;
  }
  :host section h1 {
    display: none;
  }
  :host section h4 {
    display: block;
  }
}

