<app-page-layout>
  <ng-container header>
    <app-header></app-header>
  </ng-container>
  <ng-container body>


    <h2 class="header cursor" (click)="showNested3 = !showNested3">
      <app-arrow-down-icon style="height: 52px;" *ngIf="!showNested3"></app-arrow-down-icon>
      <app-arrow-up-icon style="height: 52px;" *ngIf="showNested3"></app-arrow-up-icon>
      <h3>Suma</h3>
    </h2>
    <div *ngIf="showNested3" style="padding-left: 32px;">

      <app-table-renovating
        [noArrow]="true"
        [label]="'Suma'"
        [show]="true"
        [data]="[
       {
        'name': 'Zakup',
        'price': sumTable(zakup, 'price')
       },
       {
        'name': 'Remont',
        'price': sumTable(remont, 'price')
       },
       {
        'name': 'Wykonczenie',
        'price':
        sumTable(wykonczenieKuchnia, 'price') +
        sumTable(wykonczenieLazienka, 'price') +
        sumTable(wykonczenieSypialnia, 'price') +
        sumTable(wykonczenieAntresola, 'price') +
        sumTable(wykonczenieSalon, 'price')
       },
      ]">
      </app-table-renovating>

      <app-pie-chart
        [data]="{
        labels: [
          [ 'Zakup ' + sumAll(zakup, zakup, [].concat.apply([], [remont, wykonczenieKuchnia,wykonczenieLazienka,wykonczenieSypialnia,wykonczenieAntresola,wykonczenieSalon ])) ],
          [ 'Remont ' + sumAll(remont, zakup, [].concat.apply([], [remont, wykonczenieKuchnia,wykonczenieLazienka,wykonczenieSypialnia,wykonczenieAntresola,wykonczenieSalon ])) ],
          [ 'Wykonczenie ' + sumAll([].concat.apply([], [wykonczenieKuchnia,wykonczenieLazienka,wykonczenieSypialnia,wykonczenieAntresola,wykonczenieSalon ]), zakup, [].concat.apply([], [remont, wykonczenieKuchnia,wykonczenieLazienka,wykonczenieSypialnia,wykonczenieAntresola,wykonczenieSalon ])) ]
        ],
        datasets: [ {
          data: [
            sumTable(zakup, 'price'),
            sumTable(remont, 'price'),
            ( sumTable(wykonczenieKuchnia, 'price') +
              sumTable(wykonczenieLazienka, 'price') +
              sumTable(wykonczenieSypialnia, 'price') +
              sumTable(wykonczenieAntresola, 'price') +
              sumTable(wykonczenieSalon, 'price'))
           ]
        } ]
      }">
      </app-pie-chart>

    </div>


    <app-table-renovating
      [label]="'Zakup'"
      [data]="zakup">
    </app-table-renovating>

    <h2 class="header cursor" (click)="showNested = !showNested">
      <app-arrow-down-icon style="height: 52px;" *ngIf="!showNested"></app-arrow-down-icon>
      <app-arrow-up-icon style="height: 52px;" *ngIf="showNested"></app-arrow-up-icon>
      <h3>Wykonczenie</h3>
    </h2>
    <div *ngIf="showNested" style="padding-left: 32px;">


      <h2 class="header cursor" (click)="showNested2 = !showNested2">
        <app-arrow-down-icon style="height: 52px;" *ngIf="!showNested2"></app-arrow-down-icon>
        <app-arrow-up-icon style="height: 52px;" *ngIf="showNested2"></app-arrow-up-icon>
        <h3>Suma</h3>
      </h2>
      <div *ngIf="showNested2" style="padding-left: 32px;">
        <app-table-renovating
          [noArrow]="true"
          [show]="true"
          [label]="'Tabela'"
          [data]="[
       {
        'name': 'Kuchnia',
        'price': sumTable(wykonczenieKuchnia, 'price')
       },
       {
        'name': 'Łazienka',
        'price': sumTable(wykonczenieLazienka, 'price')
       },
       {
        'name': 'Sypialnia',
        'price': sumTable(wykonczenieSypialnia, 'price')
       },
       {
        'name': 'Antresola',
        'price': sumTable(wykonczenieAntresola, 'price')
       },
       {
        'name': 'Salon',
        'price': sumTable(wykonczenieSalon, 'price')
       },
      ]">
        </app-table-renovating>

        <app-pie-chart
          [data]="{
        labels: [
          [ 'Kuchnia ' + sumAll(wykonczenieKuchnia, wykonczenieKuchnia, [].concat.apply([], [wykonczenieLazienka, wykonczenieSypialnia,wykonczenieAntresola,wykonczenieSalon]) ) ],
          [ 'Lazienka ' + sumAll(wykonczenieLazienka, wykonczenieKuchnia, [].concat.apply([], [wykonczenieLazienka, wykonczenieSypialnia,wykonczenieAntresola,wykonczenieSalon]) ) ],
          [ 'Sypialnia ' + sumAll(wykonczenieSypialnia, wykonczenieKuchnia, [].concat.apply([], [wykonczenieLazienka, wykonczenieSypialnia,wykonczenieAntresola,wykonczenieSalon]) ) ],
          [ 'Antresola ' + sumAll(wykonczenieAntresola, wykonczenieKuchnia, [].concat.apply([], [wykonczenieLazienka, wykonczenieSypialnia,wykonczenieAntresola,wykonczenieSalon]) ) ],
          [ 'Salon ' + sumAll(wykonczenieSalon, wykonczenieKuchnia, [].concat.apply([], [wykonczenieLazienka, wykonczenieSypialnia,wykonczenieAntresola,wykonczenieSalon]) ) ],
        ],
        datasets: [ {
          data: [
            sumTable(wykonczenieKuchnia, 'price'),
            sumTable(wykonczenieLazienka, 'price'),
            sumTable(wykonczenieSypialnia, 'price'),
            sumTable(wykonczenieAntresola, 'price'),
            sumTable(wykonczenieSalon, 'price')
           ]
        } ]
      }">
        </app-pie-chart>
      </div>

      <app-table-renovating
        [label]="'Salon'"
        [data]="wykonczenieSalon">
      </app-table-renovating>

      <app-table-renovating
        [label]="'Antresola'"
        [data]="wykonczenieAntresola">
      </app-table-renovating>

      <app-table-renovating
        [label]="'Sypialnia'"
        [data]="wykonczenieSypialnia">
      </app-table-renovating>

      <app-table-renovating
        [label]="'Lazienka'"
        [data]="wykonczenieLazienka">
      </app-table-renovating>

      <app-table-renovating
        [label]="'Kuchnia'"
        [data]="wykonczenieKuchnia">
      </app-table-renovating>
    </div>

    <app-table-renovating
      [label]="'Remont generalny'"
      [data]="remont">
    </app-table-renovating>

  </ng-container>
  <ng-container footer>
    <app-footer></app-footer>
  </ng-container>
</app-page-layout>





