<app-page-layout>

  <ng-container header>
    <app-header></app-header>
  </ng-container>

  <ng-container body>

    login: adam@adamgasiorek.com
    <br/>
    password: (hint: my second name)
    <br/>
    <br/>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="submit()"
      novalidate>

      <div>
        <label for="login">Login</label>
        <input
          id="login"
          type="text"
          formControlName="login"
          class="form-control"
          required
        />
      </div>

      <div>
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          class="form-control"
          required
        />
      </div>

      <button class="button" type="submit">Login</button>

    </form>

  </ng-container>

  <ng-container footer>
    <app-footer></app-footer>
  </ng-container>

</app-page-layout>
