:host {
  border: 0.1px solid white;
}

.container {
  position: relative;
}
h3 {
  text-transform: capitalize;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: white;
  padding: 16px;
  box-sizing: border-box;
}
@media only screen and (max-width: 1024px) {
  h3 {
    padding: 8px;
    font-size: 18px;
  }
}
.image {
  padding-top: 75%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f4f4f4;
}

