<app-page-layout>
  <ng-container header>
    <app-header></app-header>
  </ng-container>
  <ng-container body>


    <h2 class="header">
      <h3>Money</h3>
    </h2>
    <table style="max-width: 600px;">
      <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Ethereum</td>
        <td>{{owned.eth}}</td>
        <td>{{(owned.eth * ethRate) | currency: 'PLN':'symbol-narrow':'0.0-2':'pl'}}</td>
      </tr>
      <tr>
        <td>Silver</td>
        <td>{{owned.silver}}</td>
        <td>{{(owned.silver * silverRate) | currency: 'PLN':'symbol-narrow':'0.0-2':'pl'}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="3">Suma:</td>
        <td></td>
        <td>{{((owned.eth * ethRate) + (owned.silver * silverRate) ) | currency: 'PLN':'symbol-narrow':'0.0-2':'pl'}}</td>
      </tr>
      </tfoot>
    </table>

  </ng-container>
  <ng-container footer>
    <app-footer></app-footer>
  </ng-container>
</app-page-layout>





