$color1: #420014;
$color2: #002642;
$color3: #594000;

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}


.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #02040f;
  overflow: hidden;
}

.background span {
  width: 45vmin;
  height: 45vmin;
  border-radius: 45vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 27;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: $color1;
  top: 27%;
  left: 86%;
  animation-duration: 206s;
  animation-delay: -49s;
  transform-origin: -2vw 10vh;
  box-shadow: -90vmin 0 11.865093036115272vmin currentColor;
}
.background span:nth-child(1) {
  color: $color3;
  top: 91%;
  left: 93%;
  animation-duration: 172s;
  animation-delay: -211s;
  transform-origin: -21vw 3vh;
  box-shadow: 90vmin 0 11.676639313142271vmin currentColor;
}
.background span:nth-child(2) {
  color: $color2;
  top: 22%;
  left: 41%;
  animation-duration: 47s;
  animation-delay: -49s;
  transform-origin: -16vw 7vh;
  box-shadow: -90vmin 0 12.221185618076003vmin currentColor;
}
.background span:nth-child(3) {
  color: $color2;
  top: 15%;
  left: 68%;
  animation-duration: 27s;
  animation-delay: -47s;
  transform-origin: -6vw -1vh;
  box-shadow: -90vmin 0 11.348990820896393vmin currentColor;
}
.background span:nth-child(4) {
  color: $color1;
  top: 58%;
  left: 94%;
  animation-duration: 74s;
  animation-delay: -105s;
  transform-origin: 14vw 6vh;
  box-shadow: -90vmin 0 11.757470471431896vmin currentColor;
}
.background span:nth-child(5) {
  color: $color1;
  top: 17%;
  left: 35%;
  animation-duration: 43s;
  animation-delay: -172s;
  transform-origin: 23vw 13vh;
  box-shadow: 90vmin 0 11.81395266837042vmin currentColor;
}
.background span:nth-child(6) {
  color: $color3;
  top: 91%;
  left: 46%;
  animation-duration: 233s;
  animation-delay: -106s;
  transform-origin: -4vw -18vh;
  box-shadow: 90vmin 0 11.834756596153646vmin currentColor;
}
.background span:nth-child(7) {
  color: $color2;
  top: 29%;
  left: 92%;
  animation-duration: 80s;
  animation-delay: -141s;
  transform-origin: -14vw -14vh;
  box-shadow: -90vmin 0 12.11394844239484vmin currentColor;
}
.background span:nth-child(8) {
  color: $color2;
  top: 35%;
  left: 81%;
  animation-duration: 158s;
  animation-delay: -21s;
  transform-origin: 24vw -2vh;
  box-shadow: 90vmin 0 11.491379107496094vmin currentColor;
}
.background span:nth-child(9) {
  color: $color2;
  top: 80%;
  left: 39%;
  animation-duration: 88s;
  animation-delay: -90s;
  transform-origin: -14vw -12vh;
  box-shadow: 90vmin 0 12.077374536151307vmin currentColor;
}
.background span:nth-child(10) {
  color: $color3;
  top: 88%;
  left: 52%;
  animation-duration: 222s;
  animation-delay: -225s;
  transform-origin: 2vw -12vh;
  box-shadow: -90vmin 0 11.317929107417823vmin currentColor;
}
.background span:nth-child(11) {
  color: $color3;
  top: 23%;
  left: 30%;
  animation-duration: 218s;
  animation-delay: -29s;
  transform-origin: 3vw -24vh;
  box-shadow: -90vmin 0 11.253573958499999vmin currentColor;
}
