.headers {
  padding: 0 0 40px 0;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1024px) {
  .headers {
    flex-direction: column;
  }
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.buttons > app-button:first-of-type {
  margin-right: 16px;
}
@media only screen and (max-width: 1024px) {
  .buttons {
    flex-direction: column;
    margin-top: 16px;
  }
  .buttons > app-button:first-of-type {
    margin-bottom: 16px;
  }
}
