<app-page-layout>

  <ng-container header>
    <app-header></app-header>
  </ng-container>

  <ng-container body>

    <div>
      <app-loader></app-loader>
      <div class="headers">
        <app-arrow-left-icon [routerLink]="isRootUrlForNestedAlbums ? ['..'] : ['/', 'photos', 'albums']"></app-arrow-left-icon>

        <h1 class="web">{{album.title}}</h1>
        <h1 class="mobile">{{album.title}}</h1>
        <div class="body2">{{album.description}}</div>
      </div>

      <div class="body2" *ngIf="nestedAlbums.length > 0">Albums</div>
      <div class="gallery">
        <app-album
          *ngFor="let album of nestedAlbums"
          [title]="album.title"
          [nestedLink]="album.link"
          [link]="rootUrlForNestedAlbums"
          [continent]="album.continent"
          [img]="album.thumbnail">
        </app-album>

      </div>

      <div class="body2" *ngIf="(list | filter:'isVideo':false).length > 0">Photos</div>
      <app-gallery [nbColumns]="3"
                   [list]="list | filter:'isVideo':false">
      </app-gallery>

      <div class="body2" *ngIf="(list | filter:'isVideo':true).length > 0">Videos</div>
      <app-gallery [nbColumns]="3"
                   [list]="list | filter:'isVideo':true">
      </app-gallery>

    </div>

  </ng-container>

  <ng-container footer>
    <app-footer></app-footer>
  </ng-container>

</app-page-layout>
