.headers {
  padding: 0 0 32px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  .headers {
    padding: 0px 0 16px 0;
  }
}
.headers .body2::first-letter {
  padding-top: 8px;
  text-transform: capitalize;
}
app-arrow-left-icon {
  cursor: pointer;
}
.videos-gallery {
  margin-bottom: 32px;
}

