<h2 class="header cursor" (click)="show = !show" *ngIf="!noArrow">
  <app-arrow-down-icon style="height: 52px;" *ngIf="!show"></app-arrow-down-icon>
  <app-arrow-up-icon style="height: 52px;" *ngIf="show"></app-arrow-up-icon>
  <h3>{{label}}</h3>
</h2>
<div *ngIf="show">
  <table style="max-width: 600px;">
    <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of data">
      <td>{{item.name}}</td>
      <td>{{parseFloat(item.price) | currency: 'PLN':'symbol-narrow':'0.0-2':'pl'}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="3">Suma:</td>
      <td>{{sumTable(data, 'price') | currency: 'PLN':'symbol-narrow':'0.0-2':'pl'}}</td>
    </tr>
    </tfoot>
  </table>
</div>
