<app-background>

  <div id="wrapper">
    <section class="intro">
      <header>
        <h1>Adam Gąsiorek</h1>
        <p>
          Welcome and enjoy my personal pictures and photos of my family.
        </p>
        <ul class="actions">
          <li><a class="arrow scrolly"><span class="label">Next</span></a></li>
        </ul>
      </header>
      <div class="hero">
        <img src="assets/me.jpeg" />
      </div>
    </section>

    <section>
      <header>
      </header>
      <div class="content" style="display: flex;">
        <button class="tag" [class.active]="tag === 0" (click)="setTag0()">
          All
        </button>
        <button class="tag" [class.active]="tag === 1" (click)="setTag1()">
          important
        </button>
      </div>
    </section>

      <section *ngFor="let item of (albums | async)">
        <header>
          <h2 style="margin-bottom: 0;">{{item.date.toDate() | date: item.format }}</h2>
          <h3>{{item.place}}</h3>
        </header>
        <div class="content" >
          <p class="title">
            <strong>{{item.title}}</strong>
            <span class="action" [routerLink]="['/', 'albums', item.id]">See more</span>
          </p>
          <div class="gallery">
            <a class="landscape" [routerLink]="['/', 'albums', item.id]">
              <img [src]="item.image" alt="" />
            </a>
          </div>
        </div>
      </section>

    <div class="copyright" style="color: #d2d2d2;"
    >
      <br/>
      &copy; Adam Gasiorek. All rights reserved.
      <a style="cursor: pointer;" (click)="logout()">Log out</a>.
    </div>

  </div>
</app-background>
