.headers {
  padding: 0 0 40px 0;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  .headers {
    padding: 0 0 16px 0;
  }
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 8px 0;
}

