<app-page-layout>

  <ng-container header>
    <app-header></app-header>
  </ng-container>

  <ng-container body>

    <div>
      <app-loader></app-loader>
      <div class="headers">
        <app-arrow-left-icon [routerLink]="['..']"></app-arrow-left-icon>

        <h1>All albums</h1>
      </div>

      <h2 class="header cursor" (click)="showEu = !showEu">
        <app-arrow-down-icon style="height: 52px;" *ngIf="!showEu"></app-arrow-down-icon>
        <app-arrow-up-icon style="height: 52px;" *ngIf="showEu"></app-arrow-up-icon>
        <h3>Europe</h3>
      </h2>
      <div class="gallery" *ngIf="showEu">
        <app-album
          *ngFor="let album of list"
          [title]="album.title"
          [link]="album.link"
          [continent]="album.continent"
          [img]="album.thumbnail">
        </app-album>
      </div>

      <h2 class="header cursor" (click)="showAF = !showAF">
        <app-arrow-down-icon style="height: 52px;" *ngIf="!showAF"></app-arrow-down-icon>
        <app-arrow-up-icon style="height: 52px;" *ngIf="showAF"></app-arrow-up-icon>
        <h3>Africa</h3>
      </h2>
      <div class="gallery" *ngIf="showAF">
        <app-album
          *ngFor="let album of listAF"
          [title]="album.title"
          [link]="album.link"
          [continent]="album.continent"
          [img]="album.thumbnail">
        </app-album>
      </div>

      <h2 class="header cursor" (click)="showAS = !showAS">
        <app-arrow-down-icon style="height: 52px;" *ngIf="!showAS"></app-arrow-down-icon>
        <app-arrow-up-icon style="height: 52px;" *ngIf="showAS"></app-arrow-up-icon>
        <h3>Asia</h3>
      </h2>
      <div class="gallery" *ngIf="showAS">
        <app-album
          *ngFor="let album of listAS"
          [title]="album.title"
          [link]="album.link"
          [continent]="album.continent"
          [img]="album.thumbnail">
        </app-album>
      </div>

      <h2 class="header cursor" (click)="showNA = !showNA">
        <app-arrow-down-icon style="height: 52px;" *ngIf="!showNA"></app-arrow-down-icon>
        <app-arrow-up-icon style="height: 52px;" *ngIf="showNA"></app-arrow-up-icon>
        <h3>North America</h3>
      </h2>
      <div class="gallery" *ngIf="showNA">
        <app-album
          *ngFor="let album of listNA"
          [title]="album.title"
          [link]="album.link"
          [continent]="album.continent"
          [img]="album.thumbnail">
        </app-album>
      </div>

      <h2 class="header cursor" (click)="showSA = !showSA">
        <app-arrow-down-icon style="height: 52px;" *ngIf="!showSA"></app-arrow-down-icon>
        <app-arrow-up-icon style="height: 52px;" *ngIf="showSA"></app-arrow-up-icon>
        <h3>South America</h3>
      </h2>
      <div class="gallery" *ngIf="showSA">
        <app-album
          *ngFor="let album of listSA"
          [title]="album.title"
          [link]="album.link"
          [continent]="album.continent"
          [img]="album.thumbnail">
        </app-album>
      </div>
    </div>

  </ng-container>

  <ng-container footer>
    <app-footer></app-footer>
  </ng-container>

</app-page-layout>
