<app-page-layout>

  <ng-container header>
    <app-header></app-header>
  </ng-container>

  <ng-container body>

    <div>
      <app-loader></app-loader>
      <div class="headers">
        <h1 class="web">Photography</h1>
        <h3 class="mobile">Photography</h3>
        <div class="buttons">
          <app-button [showLink]="false" (click)="showTags = !showTags">
            Tags
          </app-button>
          <app-button [routerLink]="['albums']">
            All albums
          </app-button>
        </div>
      </div>

      <div class="tags" *ngIf="showTags">
        <app-button [showLink]="false" [routerLink]="['tags', 'animal']">
          Animal
        </app-button>
        <app-button [showLink]="false" [routerLink]="['tags', 'profile']">
          Adam
        </app-button>
        <app-button [showLink]="false" [routerLink]="['tags', 'aa']">
          She & Me
        </app-button>
      </div>

      <app-gallery [nbColumns]="3"
                   [list]="list">
      </app-gallery>
    </div>


  </ng-container>

  <ng-container footer>
    <app-footer></app-footer>
  </ng-container>

</app-page-layout>
