section {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
}
.masonry-column {
  width: calc(100% - 4px);
}
.masonry-column img {
  width: 100%;
}
.headers {
  padding: 0 0 40px 0;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1024px) {
  .headers {
    flex-direction: column;
  }
}
.tags {
  padding: 0 0 40px 0;
  display: flex;
}
@media only screen and (max-width: 1024px) {
  .tags {
    flex-direction: column;
  }
}
.tags app-button {
  margin-right: 8px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.buttons > app-button:not(:last-of-type) {
  margin-right: 16px;
}
@media only screen and (max-width: 1024px) {
  .buttons {
    flex-direction: column;
    margin-top: 16px;
  }
  .buttons > app-button:not(:last-of-type) {
    margin-bottom: 8px;
  }
}

