:host {
  display: flex;
  justify-content: center;
}
:host section {
  width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 32px 0;
}
:host section .mobileSection {
  display: none;
  position: absolute;
  width: calc(100% + 2px);
  left: 0;
  height: calc(100% - 100px);
  top: 100px;
  background-color: #fff;
  align-items: start;
  justify-content: center;
  z-index: 11111;
}
:host section app-close-icon, :host section app-menu-icon {
  display: none;
}
@media only screen and (max-width: 1024px) {
  :host section {
    width: 300px;
  }
  :host section app-close-icon, :host section app-menu-icon {
    display: block;
  }
  :host section .list.web {
    display: none;
  }
  :host section .mobileSection {
    display: flex;
  }
  :host section .mobileSection .list {
    padding-top: 64px;
  }
  :host section .mobileSection .list li {
    float: none;
    margin-bottom: 24px;
    margin-right: 0;
    text-align: center;
  }
}

