section {
  cursor: pointer;
  margin-top: 40px;
}
.labels {
  padding: 40px 0 40px 0;
  border-top: 1px solid var(--dividerColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  .labels {
    padding: 24px 0 8px 0;
  }
}
.img {
  overflow: hidden;
  height: 400px;
}
@media only screen and (max-width: 1024px) {
  .img {
    height: 150px;
  }
}
.img img {
  transition: transform 0.5s;
  width: 100%;
  top: 50%;
  position: relative;
  transform: translate(0%, -50%);
}
.img img:hover {
  transform: translate(0%, -50%) scale(1.2);
}
app-arrow-right-icon.mobile {
  display: none;
}
@media only screen and (max-width: 1024px) {
  app-arrow-right-icon.mobile {
    display: block;
  }
  app-arrow-right-icon.web {
    display: none;
  }
}

