@import "styles/normalize.css";
@import "styles/variables.css";
@import "styles/typography.css";

* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--background);
  color: var(--fontColor);
}

table {
  text-align: left;
  width: 100%;
}

tr {
  display: flex;
  paddinG: 8px 0;
}

tfoot tr {
  border-top: 1px solid #c6c6c6;
}

td, th {width:100%;clear: both;}


html[data-theme="light"] .isDark {
  display: none;
}

html[data-theme="dark"] .isLight {
  display: none;
}

html[data-theme="dark"] svg:not(.map):not(.bft-dark) path {
  stroke: white;
}

html[data-theme="dark"] .mobileSection {
  background-color: black!important;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.list li {
  float: left;
}

.list li:not(:last-of-type) {
  margin-right: 64px;
}
.list li.last-text {
  margin-right: 40px;
}
@media only screen and (max-width: 1024px) {
  .list li:not(:last-of-type) {
    margin-right: 16px;
  }
}
.cursor {
  cursor: pointer;
}
.isActive {
  text-decoration: underline;
}
.isActive:hover {
  text-decoration: underline;
}
.mobile {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .mobile {
    display: block;
  }
  .web {
    display: none;
  }
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
}
@media only screen and (max-width: 1024px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}
.item {
  width: calc(33% - 3px);
  z-index: 1;
}
@media only screen and (max-width: 1024px) {
  .item {
    width: calc(50% - 3px);
  }
}

.full-width {
  width: 100%;
}
.markdown ul {
  list-style: none;
  padding-inline-start: 20px;
}
.markdown ul div {
  font-weight: 200 !important;
  line-height: 160% !important;
}
.markdown ul div input {
  margin-right: 8px;
}
.markdown img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 500px;
}
.progress-bar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1;
}
.indeterminate-progress-bar {
  /* Color */
  background-color: #d1d5db;
  /* Size */
  height: 0.5rem;
  position: relative;
  overflow: hidden;
}
.indeterminate-progress-bar__progress {
  /* Color */
  background-color: #3b82f6;
  /* Rounded border */
  border-radius: 9999px;
  /* Absolute position */
  position: absolute;
  bottom: 0;
  top: 0;
  width: 50%;
  /* Move the bar infinitely */
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: indeterminate-progress-bar;
}
@keyframes indeterminate-progress-bar {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

