.images2 {
    position: relative;
    flex: 1 0 400px;
    height: 574px;
}
@media only screen and (max-width: 1024px) {
    .images2 {
        flex: 1 0 200px;
        padding-bottom: 16px;
        height: inherit;
    }
}

.img1 {
    background-image: url('/assets/me.jpeg');
    background-size: cover;
    height: 474px;
    width: 380px;
    position: absolute;
    z-index: 4;
    top: 48px;
    background-position: center;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 1024px) {
    .img1 {
        width: 100%;
        height: 200px;
        top: 0;
        background-size: cover;
    }
}
.img2 {
    height: 474px;
    width: 380px;
    position: absolute;
    z-index: 3;
    left: 24px;
    top: 24px;
    background-color: #8AC8FF;
}
@media only screen and (max-width: 1024px) {
    .img2 {
        display: none;
    }
}
.img3 {
    background-color: #A6D5FF;
    height: 474px;
    width: 380px;
    position: absolute;
    z-index: 2;
    left: 48px;
}
@media only screen and (max-width: 1024px) {
    .img3 {
        display: none;
    }
}

.wrapper-about {
    display: flex;
}

@media only screen and (max-width: 1024px) {
    .wrapper-about {
        display: flex;
        flex-direction: column;
    }
}


.wrapper-about h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 132%;
    align-items: center;
    letter-spacing: -.02em;
}

.wrapper-about .body2 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    align-items: center;
    letter-spacing: -.02em;
}

.wrapper-about .container {
    padding-right: 64px;
}

.buttons {
    margin-top: 32px;
    margin-bottom: 32px;

}
