$primary: #111827;
$blue: #007FEF;
$white: #FFFFFF;
$black: #000000;

@function calculate-grid($value) {
  @return $value * 8px;
}

$sectionWidth: 1024px;
$sectionWidthMobile: 300px;

$mobileBreakpoint: 1024px;

$smallMobileBreakpoint: 768px;
